body {
	font-family: Segoe print;, sans-serif;
	font-weight: bold;
	color: #f2eeef;
	margin: 0;
}


.header {
	background: url(../img/head.jpg) no-repeat center top / cover;
	height: 748px;
}

.no {
	padding-top: 204px;
}
h1 {
	padding-left: 400px;
}
.icon {
	padding-left: 356px;
	padding-top: 35px;
	border-radius: 100px;
	float: left;
}

.border {
	
}

h3 {
	position	: absolute;
	top: 530px;
	left: px;
	width: 100%;
	font-size: 20px;
}

a {
	text-decoration: none;
}

p {
	position	: absolute;
	top: 580px;
	left: 485px;
	width: 100%;
}

input {
	font-family: Segoe print;
	font-weight: bold;
}

 input[type="search"] {
 	border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 310px; /* Ширина поля */
    height: 40px;
    border-radius: 5px;
 }

 input[type="submit"] {
    width: 90px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px;
   }

