body {
	background: url(../img/fon.png) no-repeat center top / cover;
	
}

.centered {
	text-align: center;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

header {
	background: url(../img/header.png) no-repeat center top / cover;
	height: 135px;
}

.logo {
	margin-top: 10px;
}



.menu {
margin-top: 23px;

}

.menu__item {
display: table-cell;
font-family: 'Cormorant Unicase', serif;
font-weight: bold;

}

.menu__item a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;	
	margin-right: 30px;
}

.time {
	font-size: 14px;
	color: #fff;
	margin-top: 15px;
}

.menu__itemt {
display: table-cell;
font-family: 'Cormorant Unicase', serif;
font-weight: bold;

}

.menu__itemt a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;	
	margin-right: 25px;
}

.menu__two {
	margin-top: 23px;
	margin-left: -25px;
}

.call {
	margin-left: 155px;
}

 a {
	color: #fff;
	text-decoration: none;
}

.phone {
	font-size: 12px;

}

tt {
	margin-left: 120px;
}

form div {
	margin: 5px 20px 5px 20px;
	position: relative;
}

fieldset {
	margin-top: -20px;
}

label {
	position: absolute;
	top: 3px;
	left: 6px;
	color: #818181;

}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 32px;
  background: #F9F0DA;
  padding-left: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.log {
	margin-top: 15px;
}

/*--------------------------------*/

.katalog {
	background: url(../img/katalog.png) no-repeat center top / cover;
	height: 49px;
}




ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menuu > li {
    float: left;
    position: relative;
}
ul.menuu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #41b5d7;
    text-decoration: none;
    width: 263px;
    height: 49px;

}
ul.menuu > li > a:hover {
}
ul.submenu {
    display: none;
    position: absolute;
    width: 263px;
    top: 48px;
    left: 0;
    background-color: white;

}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border-bottom:1px solid #e0e0e0;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

.menuu {
	margin-left: 200px;
}

ul.menuu > li:hover > ul.submenu {
    display: block;
}
form {
  position: relative;
  width: 360px;
  margin: 0 auto;

}
.input, .button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.input {
  width: 360px;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}
.button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 15px;
  font-weight: bold;
}

.lu {
	margin-top: 3px;
}

.fa-balance-scale {
	color: #fccb8d;
	padding-top: 15px;
	font-size: 22px;
	margin-left: -70px;
}

.fa-heart {
    color: #fccb8d;
    padding-top: 15px;
   font-size: 22px;
   margin-left: -70px;
}

.fa-shopping-cart {
    color: #fccb8d;
    padding-top: 15px;
  font-size: 22px;
  margin-left: -70px;
}

.slidee {
	margin-left: 300px;
	margin-top: 30px;
}


h1 {
  margin-left: 335px;
  margin-right: -85px;
	height: 55px;
	margin-top: 60px;
    position: relative;
    overflow: hidden;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    color: #1d80bf;
    font-family: 'Pacifico', cursive;

  }
  h1 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h1 > span:before,
  h1 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #e0e0e0;
    margin-top: .6em;
  }
  h1 > span:before {
    margin-left: -102%;
  }
  h1 > span:after {
    margin-left: 2%;
  }

.arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumb {
  margin-right: -85px;
  margin-top: 30px;
  background-color: #fff;
  height: 35px;
  width: 845px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding-left: 15px;
  padding-top: 6px;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}


.logotype {
  margin-top: 295px;
}

.novaposhta {

}

.intime {
margin-top: 49px;
}

.ukrposhta{
margin-top: 49px;
}

.delauto {
margin-top: 49px;
}

.txtt {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 25px;

}

.h1 {
  margin-left: 45px;
  height: 55px;
  margin-top: 60px;
    position: relative;
    overflow: hidden;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    color: #1d80bf;
    font-family: 'Pacifico', cursive;

  }



.grapfic {
  margin-top: 20px;
}

.h3 {
  line-height: 0.6em;
}

h3 {
  font-size: 20px;
  margin-left: 65px;
}

.top {
  margin-top: 50px;
}

.status {
  margin-left: 25px;
}

.message {
  height: 76px;
  width: 458px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding-left: 15px;
}



  footer {
  background: url(../img/footer.png) no-repeat center top / cover;
  height: 250px;
  margin-top: 55px;
}

.logo__footer {
  width: 156px;
  height: 50px;
  margin-top: 40px;
}

.footer__txt {
  font-size: 16px;
  font-weight: bold;
  margin-top: 18px;
  color: #fff;
  margin-left: 15px;
}


h4 {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin-top: 35px;
}

.ont__txt {
  margin-top: 3px;
}

.menu__footer a{
  color: #fff;
  text-decoration: none;
}

.menu__footer {
  font-size: 12px;
  margin-top: 12px;
}

.contacte {
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
}

.contacte, .contactee {
  margin-left: 90px;
}

.all4 {
  margin-right: 40px;
}

.i {
  margin-left: 80px;
  margin-top: 35px;
}

.i i{
  margin: 15px;
}