body {
	background: url(../img/fon.png) no-repeat center top / cover;
	width: 767px;
}

.centered {
	text-align: center;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

header {
	background: url(../img/header.png) no-repeat center top / cover;
	height: 135px;
}

input[type='checkbox'] {
	display: none;
}

.popup {
	display: none;
	width: 190px;
	height: 116px;
	background-color: #fff;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 170px;
	right: 0;
	margin: 0 auto;
	padding: 20px;
}

label {
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	margin-left: 150px;
	margin-top: 
}

input:checked ~ .popup {
	display: block;
}

.fa-calendar {
	color: #fff;
}

.fa-calendar:hover {
background: #fff;
color: #000;
width: 50px;
height: 50px;
padding: 10px;
border-radius: 5px 5px 0 0;
}

.graph {
	color: #fff;
	font-size: 16px;
	margin-left: -20px;
	font-weight: ;
}

#layer1, #layer2, #layer3, #layer4 {
    position: relative;}

    #layer1 { z-index: 2; }
   #layer2 { z-index: 1; }


.menu {
margin-top: 23px;

}

.menu__item {
display: table-cell;
font-family: 'Cormorant Unicase', serif;
font-weight: bold;

}

.menu__item a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;	
	margin-right: 42px;
}

.time {
	font-size: 14px;
	color: #fff;
	margin-top: 15px;
}

.menu__itemt {
display: table-cell;
font-family: 'Cormorant Unicase', serif;
font-weight: bold;

}

.menu__itemt a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;	
	margin-right: 25px;
}

.menu__two {
	margin-top: 23px;
	margin-left: -25px;
}

.call {
	margin-left: 155px;
}

 a {
	color: #fff;
	text-decoration: none;
}

.phone {
	font-size: 12px;

}

tt {
	margin-left: 120px;
}

form div {
	margin: 5px 20px 5px 20px;
	position: relative;
}

fieldset {
	margin-top: -20px;
}

label {
	position: absolute;
	top: 3px;
	left: 6px;
	color: #818181;

}
#siteLogin, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
#siteLogin {
  width: 100%;
  height: 32px;
  background: #F9F0DA;
  padding-left: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #d94965;
}



.log {
	margin-top: 15px;
}

/*--------------------------------*/

.katalog {
	background: url(../img/katalog.png) no-repeat center top / cover;
	height: 49px;
}




ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menuu > li {
    float: left;
    position: relative;
}
ul.menuu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #41b5d7;
    text-decoration: none;
    width: 220px;
    height: 49px;

}
ul.menuu > li > a:hover {
}
ul.submenu {
    display: none;
    position: absolute;
    width: 263px;
    top: 48px;
    left: 0;
    background-color: white;

}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border-bottom:1px solid #e0e0e0;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

.menuu {
	margin-left: 200px;
}

ul.menuu > li:hover > ul.submenu {
    display: block;
}
form {
  position: relative;
  width: 360px;
  margin: 0 auto;

}
.input, .button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.input {
  width: 204px;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #d94965;
  cursor: pointer;
}
.button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 15px;
  font-weight: bold;
}

.lu {
	margin-top: 3px;
}

.fa-balance-scale {
	color: #fccb8d;
	padding-top: 15px;
	font-size: 20px;
}

.fa-heart {
    color: #fccb8d;
    padding-top: 15px;
   font-size: 20px;

}

.fa-shopping-cart {
    color: #fccb8d;
    padding-top: 15px;
  font-size: 20px;

}

.slidee {
	width: 720px;
	margin-top: 30px;
	margin-left: -10px;
}


h1 {
	
	margin-right: 45px;
	height: 55px;
	margin-top: 60px;
    position: relative;
    overflow: hidden;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    color: #1d80bf;
    font-family: 'Pacifico', cursive;

  }
  h1 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h1 > span:before,
  h1 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #e0e0e0;
    margin-top: .6em;
  }
  h1 > span:before {
    margin-left: -102%;
  }
  h1 > span:after {
    margin-left: 2%;
  }

.iconn {
	margin-top: 30px;
	width: 160px;
	height: 160px;
	margin-left: -10px;


}

  .icons {
  	margin-top: 30px;
  	width: 160px;
	height: 160px;
	margin-left: -10px;

  }

.img__bars {
margin: 20px;
margin-top: 44px;
}

.lego {
	width: 55px;
	height: 55px;
}

.hasbro {
	width: 65px;
	height: 65px;
}

.intex {
	width: 125px;
	height: 26px;
}

.star {
	width: 100px;
	height: 50px;
}

.paw {
	width: 70px;
	height: 60px;
}

.kateg {
	margin-top: 20px;
	height: 100px;
	font-family: 'Pacifico', cursive;

}

.btn-danger {
	width: 100px;
	height: 37px;
	border-radius: 30px;
	font-weight: bold;
	margin-top: 310px;
	font-size: 14px;
	background: #d94965;

}

h5 {
font-family: 'Pacifico', cursive;
margin-top: -45px;
margin-left: 19px;
color: #1d80bf;
}

.inform {
	font-size: 15px;
	font-family: 'Open Sans', serif;
	float: right;
	margin-top: 12px;
}

.order {
	margin-top: 60px;
}

.new {
	margin-top: 60px;
}

.what {
	font-size: 21px;
	    font-family: 'Pacifico', cursive;
	        color: #1d80bf;
margin-left: 15px;
line-height: 0.1em;
}

.c {
	margin-top: 100px;
}

.subb {
	margin-top: -60px;
}

.submit {
	width: 320px;
	height: 43px;
	
	 	border-radius: 50px;

}

.namee, .emaill {
	width: 320px;
	height: 43px;
 	margin-left: -65px;
 	border-radius: 50px;
 	border: 0;
 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
 	padding: 15px;
}

.message {
	margin-left: -65px;
	height: 107px;
	width: 320px;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.imeges {
	margin-top: 50px;
	margin-left: -180px;
	width: 360px;
	height: 265px;
}

h6 {
	font-size: 16px;
	text-align: left;
}

.all4kids {
	margin-top: 50px;
}


footer {
	background: url(../img/footer.png) no-repeat center top / cover;
	height: 315px;
	margin-top: 45px;
}

.logo__footer {
	width: 156px;
	height: 50px;
	margin-top: 40px;
}

.footer__txt {
	font-size: 16px;
	font-weight: bold;
	margin-top: 18px;
	color: #fff;
	margin-left: 15px;
}


h4 {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin-top: 35px;
}

.ont__txt {
	margin-top: 3px;
}

.menu__footer a{
	color: #fff;
	text-decoration: none;
}

.menu__footer {
	font-size: 12px;
	margin-top: 12px;
		line-height: 1em;
		margin-left: -10px;

}

.contacte {
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
}

.contacte, .contactee {
	margin-left: -20px;
}

.all4 {
	margin-left: 30px;
}

.i {
	margin-top: 85px;
	margin-left: -30px;
}

.i i{
	margin: 15px;
}

